h1{
    font-size: 50px;
}

body
{
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    margin:0px;
    
    
}
#sp
{
    color:orange;
}

.half-width
{
width:40%;
float:left;
margin-left:5%;
padding left:2%;

}
.half-width img{
 width:100%;   
}
#top-banner
{
    background-image: url(images/top-banner.png);
    height:600px;
    background-repeat: no-repeat;
    
}