h1{
    font-size: 50px;
}

body
{
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    margin:0px;
    
    
}
#button-a
{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,yellow,red);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;

}
#sp
{
    color:orange;
}

.half-width,.half-wi
{
width:40%;
float:left;
margin-left:5%;
padding left:2%;

}
.half-width img,.half-wi img{
 width:100%;   
}
#top-banner
{
    background-image: url(images/top-banner.png);
    height:600px;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    
}
#resume-button
{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(70deg,yellow,red,tomato);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
}

#resume-button {
    
}#resume-button:hover
{
    background-image:linear-gradient(to right, red,orange,green,blue,indigo,red) ;
    


}
















#footer
{
    background-image: url(images/dream-bg.png);
    height:600px;
    background-repeat: no-repeat;
    background-position: right ;


}













